<%- include('includes/head') %>
<head>
    <link rel="stylesheet" href="/css/main.css">
    <title>Erro</title>
</head>
<body>
    <h2>Você não está logado ou não possui conta.</h2>
    <h3>Clique nos links acima para iniciar sua sessão!</h3>
</body>
