<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nav>
        <img src="../../assets/Logo (2).png" />
        <h4>Adriele e Sabrina</h4>
        <% if (user) { %>
        <ul>
            <li>
                <a href="/" style="text-decoration: none; color: white;">P치gina inicial</a>
            </li>
        </ul>

        
        <ul>
            <li>
                   <a style="color: white; text-decoration: none;" href="/grupos/user">Meus grupos</a>
            </li>
        </ul>

        <ul>
            <li>
                   <a style="color: white; text-decoration: none;" href="/users/logout">Sair</a>
            </li>
        </ul>

        <%} else {%>
        <ul>
            <li>
                <a href="/users/cadastrar" style="text-decoration: none; color: white;">P치gina de cadastro</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="/users/login" style="text-decoration: none; color: white;">P치gina de login</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href="/" style="text-decoration: none; color: white;">P치gina inicial</a>
            </li>
        </ul>

        <% } %> 
    </nav>
    <link rel="stylesheet" href="/css/main.css">
</header>